.play {
    width: 100%;
    padding: 3rem 0 5rem;
    background-image: url("../resources/images/bg-people.png");
    background-size: cover;

    @include respond(480) {
        padding-bottom: 2rem;
    }

    &__div {
        margin-top: 8rem;
        @include flexCenter;

        @include respond(768) {
            flex-direction: column;
        }

        h3 {
            margin: 0 2.2rem;
            position: relative;
            bottom: 110px;

            @include respond(768) {
                display: none;
            }
        }

        .choice {
            width: 32rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(480) {
                margin-bottom: 4rem;
            }

            img {
                @include respond(480) {
                    width: 25rem;
                }
            }

            h4 {
                margin: 3rem 0 2.5rem;
                font-size: 2rem;
                font-family: 'ProximaNova-Extrabold', sans-serif;
                color: $color-blue;
                text-align: center;

                @include respond(480) {
                    margin-top: 1rem;
                    font-size: 3rem;
                }
            }

            p {
                color: $color-jet;
                font-size: 1.7rem;
                text-align: center;
                line-height: 1.5;
            }
        }
    }
}